<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
    <div id="content">
        <h1>Welcome to home Page</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias libero corporis dolorum odit nulla recusandae placeat accusamus maiores tempore illo.
        </p>
        <script>
            console.log("Home Page");
        </script>
    </div>
</body>
</html>